    <footer class="footer">
        <div class="container">
            <p>Made by <a href="https://twitter.com/polydus">@Polydus</a>. All rights reserved.</p>
        </div>
    </footer>

<script type="text/javascript" src="/js/den.js"></script>
